{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
    <nav>   
        <div class="navbar" id="myNavbar">
            <a href="about/" class="active">Contact</a>
            <a href="/">Home</a>
            <a href="/create/">New Post</a>
            
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>

        <div class="father">
            <p>Hey! Nice to see you.

                I’m Rajesh Ramamoorthy.
                
                🌱  I’m currently learning Django
                
                💬 reach me ... rajesh.ramamoorthy@outlook.in
            </p> 
        </div>
        

{% endblock %}


