{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
    <nav>   
        <div class="navbar" id="myNavbar">
            <a href="about/" class="active">Contact</a>
            <a href="/">Home</a>
            <a href="/create/">New Post</a>
            
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>
        <div class="father">
            <div class="about">
                Hey! Nice to see you.<br>
                I’m Rajesh Ramamoorthy<span>.</span><br>
                I’m currently learning Django<span>.</span><br>
                reach me ... rajesh.ramamoorthy@outlook.in<br>
                Thanks for stopping by<span>.</span>
            </div>
        </div>    

{% endblock %}


