{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
    <nav>   
        <div class="navbar" id="myNavbar">
            <a href="#" class="active">Contact</a>
            <a href="/">Home</a>
            <a href="/create/">New Post</a>
            
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>
        <div class="father">
            <div class="about">
                Hey<span>!</span> <br>
                Nice to see you<span>.</span><br>
                I’m Rajesh Ramamoorthy<span>.</span><br>
                <a href="mailto:rajesh.ramamoorthy@outlook.in">Email me<span>.</span><span>.</span><span>.</span></a><br>
                Thanks for stopping by<span>.</span>
            </div>
        </div>    

{% endblock %}


