{% extends 'base.html' %}
{% block content %}

<header>
   <nav>   
        <div class="navbar" id="myNavbar">
            <a href="#" class="active">Delete</a>
            <a href="/">Home</a>
        </div>
    </nav>
</header>
<div class="createcontainer">
        <h2><a href="{% url 'detail' article.pk %}">{{ article.title }}
            <center>
                <br>
                {% if article.img.url != Null %}
                <img src = {{article.img.url}} style="width: 25%;
                border: 15px solid white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
                -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
                -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);  " />
                </img>
            </center>
            {% endif %}
        </a>Delete?</h2>
        <form method="post">{% csrf_token %}
        Are you sure you want to delete "{{ article.title }}" ?<br>
        <br>
        <input type="submit" value="DELETE THIS ARTICLE" />
    </form>
</div>
{% endblock %}

