{% extends 'base.html' %}
{% block content %}
{% load static %}

<header>
    <nav>   
    <div class="topnav1">
        <a href='/'>Hello Rajesh</a>
    </div>
    <div class="topnav1">
        <a href='#'>Detailed View.</a>    
    </div>
    </nav>
</header>

<br>

<div class="container">
        <div class="article">
            
            <div class="modmenu">
                <a href="{% url 'article_edit' article.pk %}" class="tooltip"> <span>Edit</span>
                <img src="{% static 'edit.png' %}" width = "16" height = "16"/></a>
                    &nbsp;&nbsp;
                <a href="{% url 'delete' article.pk %}" class="tooltip" ><span>Delete</span>
                <img src="{% static 'trash.png' %}" width = "16" height = "16"/></a>
                &nbsp;&nbsp;
            </div>
            <div class="artbody">
                <a href="{% url 'detail' article.pk %}">{{ article.title }}</a>
            </div>
            <br>
            <div class="artbody_new">
                {{ article.body }}
            </div>
            <br>
            <br>
            
            {% if article.img.url != Null %}            
            <center>
                
                    <a href={{article.img.url}} data-fancybox data-caption="..">
	                <img class='pop' src={{article.img.url}} alt="" />
                    </a>
                    

                
            </center>
            {% endif %}
            <br>
        
            <div class="article1">
                  Dated:
                  &nbsp;{{ article.created_at }}
                  <br>
                  {% if article.updated_at != article.created_at %}
                  Updated:&nbsp;{{ article.updated_at }}
                  {% endif %}
            </div>
        </div> 

</div>
<br>
{% endblock %}
