{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
<nav>   
    <div class="navbar" id="myNavbar">
        <a href="/" class="active">Home</a>
        <a href="create/">New Post</a>
        <a href="about/">Contact</a>
    </div>
</nav>
</header>
<br>
<br>
<br>
<br>
<div class="container">
    {% for article in object_list|dictsortreversed:"created_at" %}
        <div class="article">
            <div class="modmenu">                
                <a href="{% url 'article_edit' article.pk %}" class="tooltipedit">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'delete' article.pk %}" class="tooltipdelete" >Delete</a>
                &nbsp;&nbsp;
            </div>  
            <div class="artbody">
                <a href="{% url 'detail' article.pk %}">{{ article.title }}</a>
            </div>
            
            <br>
            <div class="artbody_new">
                {{ article.body }}
            </div>
            <br>
            <br>
                
            {% if article.img.url != Null %}
                <center> <div class="imagediv">
                    <a href={{article.img.url}} data-fancybox data-caption="..">
	                <img class='pop' src={{article.img.url}} alt="" />
                    </a>
                    
                </center>
            {% endif %}
            <br>
            <br>
            <div class="article1">
                &nbsp;Dated:
                {{ article.created_at }}
                <br>
                {% if article.updated_at != article.created_at %}
                    Update:&nbsp;{{ article.updated_at }}
                {% endif %}
            </div>
             
        </div>
    <br>
  {% endfor %}
  <br>
</div>

{% endblock %}


